@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  padding: 0 10px;
  background-color: #0f0f0f;
}

.video-container {
    position:relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.video-container:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
    filter: blur(3px);
}

video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.video-text {
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Helvetica", sans-serif;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    z-index: 2;
}

img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.img-text {
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Helvetica", sans-serif;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    z-index: 2;
    }

@media (max-width: 767px) {
    .img-text {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    .img-text {
        font-size: 20px;
    }
}


.header {
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    right:0;
    display: flex;
    align-items: center;
    padding: 10px;
    color: white; 
    z-index: 1;
}

.logo {
    margin-left: 20px;
    border-radius: 25%;
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.date {
 margin-left: 40em;
}

.side-menu {
  position: fixed;
  top: 75px;
  left: 0;
  right: 0;
  width: 100%;
  justify-content: space-between;
  margin: 20px;
  z-index: 4;
  width: 176px
}

@media only screen and (max-width: 767px) {
.side-menu {
  display: none;
}
}


.side-menu a {
  border-radius: 40px;
  padding: 20px;
  display: block;
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.side-menu a:hover {
  color: #acabab;
}

.side-menu .home-link {
font-weight: bold;
color: black;
}

.side-menu .home-link:hover {
  color: #4e4e4e;
}

.welcome-container {
        position: relative;
        top: 100%;
        left: 0;
        right: 0;
        width: 100%;
        margin-left: 177px;
        background: linear-gradient(144deg, rgba(126,39,156,1) 0%, rgba(49,39,157,1) 49%);
        border-radius: 15px;
        display: flex;
        align-items: center;
        height: 800px;
        justify-content: center;    
    }


    .welcome-message {
        display: flex;
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 20px;
        color: #ffffff;
        text-align: center;
        padding: 50px;
    }

    .welcome-description {
        border: 1px solid #000000;
        border-radius: 15px;
        background-color: #fff;
        height: 75%;
        padding: 25px;
        color: #1f135f;
        font-size: 2em;
        width: 80%;
        max-width: 600px;
        display: flex;        
        text-align: center;
        align-items: center;
        justify-content: center;
}

@media only screen and (max-width: 767px) {
  .welcome-container {
    height: auto;
    top: 0;
    margin-left: 0;
    width: 100%;
    padding: 20px;
    border-radius: 0;
    z-index: -1;
  }
  
  .welcome-message {
    font-size: 24px;
    padding: 20px;
  }
  
  .welcome-description {
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
}


footer {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    bottom: 0;
    height: auto;
    width: 100%;
    padding-top: 10px;
    color: #fff;
    left: 0;
    z-index: 99;
}

@media (max-height: 620px) {
  footer {
    position: relative;
  }
}


.footer {
   display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer a {
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 40px;
    color: white;
}

.footer a:hover{
    border: 1px solid #d4d4d4;
    color: #d4d4d4;
}

.fd-gradient {
    width: 100%;
    height: 90vh;
    background: linear-gradient(144deg, rgba(126,39,156,1) 0%, rgba(49,39,157,1) 49%);
}
.fd-wrapper{
  background-color: white;
  max-width: 500px;
  width: 100%;
  margin: 50px auto;
  margin-top: 100px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.125);
  padding: 30px;
  border-radius: 10px;
}

.fd-wrapper .fd-title{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #1f135f;
  text-transform: uppercase;
  text-align: center;
}

.fd-wrapper .fd-form{
  width: 100%;
}

.fd-wrapper .fd-form .fd-inputfield{
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.fd-wrapper .fd-form .fd-inputfield label{
   width: 200px;
   color: #757575;
   margin-right: 10px;
  font-size: 14px;
}

.fd-wrapper .fd-form .fd-inputfield .fd-custom_select{
  position: relative;
  width: 100%;
  height: 37px;
}

.fd-wrapper .fd-form .fd-inputfield .fd-custom_select:before{
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  border: 8px solid;
  border-color: #d5dbd9 transparent transparent transparent;
  pointer-events: none;
}

.fd-wrapper .fd-form .fd-inputfield .fd-custom_select select{
   cursor: pointer;
    -webkit-appearance: none;
  -moz-appearance:   none;
  appearance:        none;
  outline: none;
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 8px 10px;
  font-size: 15px;
  border: 1px solid #d5dbd9;
  border-radius: 3px;
}


.fd-wrapper .fd-form .fd-inputfield .fd-custom_select select:focus{
  border: 1px solid #1f135f;
}

.fd-wrapper .fd-form .fd-inputfield p{
   font-size: 14px;
   color: #757575;
}
.fd-wrapper .fd-form .fd-inputfield .fd-check{
  width: 15px;
  height: 15px;
  position: relative;
  display: block;
  cursor: pointer;
}
.fd-wrapper .fd-form .fd-inputfield .fd-check input[type="checkbox"]{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.fd-wrapper .fd-form .fd-inputfield .fd-check .fd-checkmark{
  width: 15px;
  height: 15px;
  border: 1px solid #1f135f;
  display: block;
  position: relative;
}
.fd-wrapper .fd-form .fd-inputfield .fd-check .fd-checkmark:before{
  content: "";
  position: absolute;
  top: 1px;
  left: 2px;
  width: 5px;
  height: 2px;
  border: 2px solid;
  border-color: transparent transparent #fff #fff;
  transform: rotate(-45deg);
  display: none;
}
.fd-wrapper .fd-form .fd-inputfield .fd-check input[type="checkbox"]:checked ~ .fd-checkmark{
  background: #1f135f;
}

.fd-wrapper .fd-form .fd-inputfield .fd-check input[type="checkbox"]:checked ~ .fd-checkmark:before{
  display: block;
}

.fd-wrapper .fd-form .fd-inputfield .fd-submit-btn{
  width: 50%;
    margin-right: 10px;
  padding: 8px 10px;
  font-size: 15px; 
  border: 0px;
  background:  #1f135f;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
}

.fd-wrapper .fd-form .fd-inputfield .fd-clear-btn{
  width: 50%;
   padding: 8px 10px;
  font-size: 15px; 
  border: 0px;
  background:  #1f135f;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
}

.fd-wrapper .fd-form .fd-inputfield .fd-submit-btn:hover{
  background: #2c1c83;
}

.fd-wrapper .fd-form .fd-inputfield .fd-clear-btn:hover{
  background: #2c1c83;
}

.fd-wrapper .fd-form .fd-inputfield:last-child{
  margin-bottom: 0;
}

@media (max-width:420px) {
  .fd-wrapper .fd-form .fd-inputfield{
    flex-direction: column;
    align-items: flex-start;
  }
  .fd-wrapper .fd-form .fd-inputfield label{
    margin-bottom: 5px;
  }

/*-----------Contact US------------*/
    
 @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}



.contact-gradient{
     width: 100%;
    height: 100vh;
    background: linear-gradient(144deg, rgba(126,39,156,1) 0%, rgba(49,39,157,1) 49%);
}

.info-wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 500px;
    padding: 40px;
    border-radius: 30px 30px 30px 30px;
    background: white;
    color: #1f135f;
}

.info-title{
    text-align: left;
    font-size: 28px;
    letter-spacing: 0.5px;
}

.info-details {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.info-details li {
    margin-top: 25px;
    font-size: 18px;
    color: #1f135f;
}

.info-details li i {
    background: #f2436c;
    padding: 12px;
    border-radius: 50%;
    margin-right: 5px;
}

@media only screen and (max-width: 767px) {
    .info-wrap{
        z-index: 0;
        width: 90%;
        height:auto;
        float: none;  
    }
    .info-wrap{
        border-radius: 30px 30px 30px 30px;
    }
}
    
/*------------Disclaimer-----------*/

.privacy-page {
    color: #486a74;
}

.privacy-page:hover {
    color: #143fd0;
}

.privacy-page:visited {
    color: #1bb1de;
}
}

/*------------Browse pets----------*/


*,
*::before,
*::after {
    box-sizing: border-box;
}

.browse-pets-body {
    display: flex;
    min-height: 100vh;
    place-items: center;
    line-height: 1.6;
    background: linear-gradient(144deg, #60696b 0%, #858e96 49%);
    justify-content: center;
}

.pet-card-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.pet-card {
    width: 100%;
    color: aliceblue;
    background-size: cover;
    padding: 10rem 0 0;
    margin: 20px;
    border-radius: 1em;
    overflow: hidden;
    transition: transform 500ms ease;
    flex-basis: 400px;
    flex-grow: 1;
}

.pet-card:hover, .pet-card:focus {
    transform: scale(1.05);
}

.pet-card-content {
    --padding: 1.5rem;
    padding: var(--padding);
    background: linear-gradient(hsl(0 0% 0% / 0), hsl(0 0% 0% / 0.3) 20%, hsl(0 0% 0% / 1));
    transform: translateY(60%);
    transition: transform 300ms ease;
}

.pet-card:hover .pet-card-content {
    transform: translateY(0);
    transition-delay: 300ms;
}

.pet-card-content > *:not(.pet-card-title) {
    opacity: 0;
    transition: opacity 300ms linear;
}

.pet-card:hover .pet-card-content > *:not(.pet-card-title) {
    opacity: 1;
    transition-delay: 300ms;
}

.pet-card-title {
    position: relative;
    width: max-content;
}

.pet-card-title::after {
    content: "";
    position: absolute;
    height: 4px;
    left: calc(var(--padding) * -1);
    bottom: 0;
    width: calc(100% + var(--padding));
   background: linear-gradient(144deg, #f3696e 0%, #f8a902 49%);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 300ms ease;
}

.pet-card:hover .pet-card-title::after {
    transform: scaleX(1);
}

.pet-card-body {
    color: rgb(255 255 255/0.85);
}

.pet-card-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
   background: linear-gradient(144deg, #f3696e 0%, #f8a902 49%);
    border-radius: 0.25em;
    padding: 0.5em 1.25em;
    width: 100%;
}

.pet-card-button:hover, .pet-card-button:focus {
   background: linear-gradient(144deg, #f8a902 0%, #f3696e 49%);
}

@media (max-width: 768px) {
  .pet-card {
   width:100%;
  }
}
